*{
    font-family: Arial;
}
#header-nav{
    background-color: #b2b0af;
    border-radius : 0;
    border: 3px solid black;
}
.navbar-default .navbar-collapse{
    border-color: #1f1f1f;
}
.navbar-brand {
    padding-top: 15px;
}

.navbar-brand h1{
    margin-top:12px;
    color: black;
    font-size: 2pc;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}


#nav-list {
    margin-top:  0px;
    margin-bottom: 0px;
}
#nav-list a {
    color: black;
    text-align: center;
    border: 1px solid black;

}
#nav-list a:hover {
    background: #e2e2e2;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}


h2{
    margin-top:12px;
    text-align: center;
    font-weight: bold;
    color: #000;
}
p{
    text-align: left;
    font-weight: bold;
    padding-left: 20px;
}
#menu-title{
    text-align: center;
    font-weight: bold;
    color: #000;
    padding-top: 10px;
    font-size: 2pc;
}
#sub-title{
    text-align: center;
    font-weight: bold;
    color: #000;
    padding-top: 10px;
    font-size: 1.5pc;
}
#nav-list a {
    color: black;
    text-align: center;
}

.box{
    background-color: #dddbda;
    margin-top: 45px;
    height: 500px;
}
